.scrollable-container.zoomed {
  overflow-y: scroll;
  pointer-events: auto;
  scrollbar-width: none;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
  height: 100%;
}

.scrollable-container.zoomed::-webkit-scrollbar {
  width: 2px;
}

.scrollable-container.zoomed::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-container.zoomed::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}

.scroll-padding {
  position: absolute;
  /* top: 100px; */
  /* bottom: 100px; */
}

@media (min-width: 389px) and (max-width: 400px) {
  .custom-overflow {
    padding-top: 25%;
  }

}

@media (min-width: 400px) and (max-width: 413px) {
  .custom-overflow {
    padding-top: 2%;
  }

}

@media (min-width: 414px) and (max-width: 415px) {
  .custom-overflow {
    padding-top: 17%;
  }

}

@media (min-width: 415px) and (max-width: 480px) {
  .custom-overflow {
    padding-top: 5%;
  }

}